- provide(:title, "Home")
- if logged_in?
  .container.show-container
    .row
      %aside.col-md-3
        .fixed-sidebar
          %section.user_info
            = render "shared/user_info"
          %section.stats
            = render "shared/stats"
          %section.micropost_form
            = render "shared/micropost_form"
      .col-md-9
        - if @feed_items.any?
          .page-control= paginate @feed_items
          %h4 TimeLine
          %ol.microposts#area_microposts
            = render @feed_items

- else
  .jumbotron.jumbotron-fluid.jumbotron-extend
    .container
      %h1 Welcome to DEPS.
      %p DEPS helps you record your study time and tasks.
      %p Let's click button below and create your account.
      = link_to "Sign up now", new_user_path, class: "btn btn-info btn-lg"
