- provide(:title, @title)
.container.show-container
  .row
    %aside.col-md-3
      %section.user_info
        = picture_for_user_info @user
        %h1.user-left-name
          = @user.name
        %span
          %b logs:
          = @user.microposts.count
      %section.stats
        = render "shared/stats"
    .col-md-9
      - if @users.any?
        .page-control= paginate @users
        %h4= @title
        %ol.followUsers
          = render @users

