- provide(:title, @user.name)
.container.show-container
  .row
    %aside.col-md-3
      %section.user_info
        = render "shared/user_info"
      %section.micropost_form
        = render "shared/micropost_form"
    .col-md-9
      - if @user.microposts.any?
        .page-control= paginate @microposts
        %h4
          Log
        %ol.microposts
          = render @microposts
  .row
    .graph-container.col-md-12
      = render "shared/graph"
