%li.user-picture{:id => "micropost-#{micropost.id}"}
  = link_to picture_for_micropost(micropost.user, size: 50), micropost.user
  %span.user= link_to micropost.user.name, micropost.user, class: "user-name"
  |
  %span.title=micropost.title
  |
  - if micropost.time == nil
    0 分
  - elsif micropost.time >= 60
    %span.time= "#{(micropost.time / 60).floor} 時間, #{micropost.time % 60} 分"
  -else
    %span.time= "#{micropost.time} 分"
  %span.timestamp
    #{micropost.created_at.to_s(:datetime_jp)}
  %span.content= micropost.content
  = render "likes/like", micropost: micropost
  - if current_user?(micropost.user)
    .delete-button
      = link_to "削除", micropost, method: :delete, data: {confirm: "本当にこの投稿を削除してもよろしいですか?"}, class: ".btn btn-sm btn-danger"